<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z_dichao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,15}}</string>
                <key>sourceSize</key>
                <string>{290,15}</string>
            </dict>
            <key>Z_huakuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,473},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>Z_huakuai_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>Z_shezhitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,2},{248,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,13}}</string>
                <key>sourceSize</key>
                <string>{248,13}</string>
            </dict>
            <key>Z_title_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,181},{102,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,41}}</string>
                <key>sourceSize</key>
                <string>{102,41}</string>
            </dict>
            <key>Z_tuichudenglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{177,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,52}}</string>
                <key>sourceSize</key>
                <string>{177,52}</string>
            </dict>
            <key>Z_tuichudenglu_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{177,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,52}}</string>
                <key>sourceSize</key>
                <string>{177,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89956b161e9ba7a9e9f80438551467d7:1/1$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
