<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,378},{63,82}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,300},{71,78}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,744},{71,87}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,752},{71,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,551},{71,86}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,841},{71,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,752},{71,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,842},{71,90}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,944},{71,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,656},{71,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,930},{14,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,887},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,932},{32,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,690},{48,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,518},{56,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,738},{56,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,532},{54,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,831},{68,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,478},{54,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,656},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,378},{54,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,622},{65,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,637},{58,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,943},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{58,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,58},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,100},{58,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,0},{58,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,200},{58,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,814},{55,73}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,964},{60,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,738},{72,60}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,964},{60,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,460},{58,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{98,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,152}</string>
			</dict>
			<key>mj_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,152},{98,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,152}</string>
			</dict>
			<key>mj_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,608},{122,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,98}</string>
			</dict>
			<key>mj_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,304},{98,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,152}</string>
			</dict>
			<key>mj_bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,456},{98,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,152}</string>
			</dict>
			<key>mj_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,730},{122,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,98}</string>
			</dict>
			<key>mj_bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,964},{56,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,122}</string>
			</dict>
			<key>mj_111.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,852},{82,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,112}</string>
			</dict>
			<key>mj_121.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,852},{82,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,112}</string>
			</dict>
			<key>mj_131.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,0},{82,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,112}</string>
			</dict>
			<key>mj_141.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,551},{79,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,105}</string>
			</dict>
			<key>mj_151.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,112},{82,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,112}</string>
			</dict>
			<key>mj_161.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,444},{82,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,107}</string>
			</dict>
			<key>mj_171.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,224},{82,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,110}</string>
			</dict>
			<key>mj_181.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,334},{82,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,110}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>z_mj.png</string>
			<key>realTextureFileName</key>
			<string>z_mj.png</string>
			<key>size</key>
			<string>{465,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>465</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>