<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,356},{63,82}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,507},{71,78}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,241},{71,87}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,83},{71,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,320},{71,86}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,83},{71,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,4},{71,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,4},{71,90}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,162},{71,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,162},{71,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,399},{14,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,593},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,463},{32,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,968},{48,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,677},{56,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,593},{56,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,258},{54,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,258},{68,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,957},{54,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,904},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,895},{54,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,83},{65,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,505},{58,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,822},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,613},{58,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,968},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,721},{58,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,503},{58,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,829},{58,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,759},{55,73}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,356},{60,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,4},{72,60}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,399},{60,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,162},{58,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{98,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,152}</string>
			</dict>
			<key>mj_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,164},{98,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,152}</string>
			</dict>
			<key>mj_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,644},{122,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,98}</string>
			</dict>
			<key>mj_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,324},{98,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,152}</string>
			</dict>
			<key>mj_bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,484},{98,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,152}</string>
			</dict>
			<key>mj_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,774},{122,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,98}</string>
			</dict>
			<key>mj_bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,904},{56,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,122}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>z_mj.png</string>
			<key>realTextureFileName</key>
			<string>z_mj.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>