<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>angry0.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,526},{90,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>angry1.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,519},{89,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>angry2.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,528},{89,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>angry3.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,592},{89,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>angry4.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,441},{89,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>angry5.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,600},{89,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>angry6.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,600},{89,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>angry7.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,602},{89,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>fennu.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,111},{119,108}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>fennu0.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,125},{112,108}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>fennu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,119},{119,108}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>fennu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,0},{111,119}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>fennu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,0},{120,119}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>han0.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,318},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>han1.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,276},{88,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>han2.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,443},{88,83}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>han3.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,485},{88,80}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>han4.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,363},{88,83}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>han5.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,358},{88,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>happy.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,366},{88,75}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>happy0.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,366},{88,75}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>happy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,572},{88,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>happy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,492},{88,80}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>happy3.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,523},{88,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>happy4.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,476},{88,80}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>happy5.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,556},{88,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>huaxiao0.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,441},{88,73}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>huaxiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,446},{88,73}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>huaxiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,446},{88,73}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>huaxiao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,514},{88,73}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>huaxiao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,514},{88,73}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>huaxiao5.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,519},{88,73}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>jiong0.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,635},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>jiong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,646},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>jiong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,587},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>jiong3.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,608},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>jiong4.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,664},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>jiong5.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,587},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>jiong6.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,672},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>jiong7.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,674},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>lihai0.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,53},{31,39}}</string>
				<key>offset</key>
				<string>{-4,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,0},{43,53}}</string>
				<key>offset</key>
				<string>{-7,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai10.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,752},{74,79}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai11.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,746},{66,80}}</string>
				<key>offset</key>
				<string>{-14,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai12.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,733},{74,79}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai13.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,736},{82,74}}</string>
				<key>offset</key>
				<string>{7,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai14.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,805},{74,79}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai15.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,779},{66,80}}</string>
				<key>offset</key>
				<string>{-14,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,318},{57,66}}</string>
				<key>offset</key>
				<string>{-9,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai3.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,812},{66,80}}</string>
				<key>offset</key>
				<string>{-14,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai4.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,807},{74,79}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai5.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,659},{82,74}}</string>
				<key>offset</key>
				<string>{7,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai6.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,807},{74,79}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai7.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,790},{66,80}}</string>
				<key>offset</key>
				<string>{-14,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai8.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,744},{74,79}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>lihai9.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,731},{82,74}}</string>
				<key>offset</key>
				<string>{7,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>se0.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,269},{90,89}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>se1.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,183},{92,92}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>se2.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,0},{100,95}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>se3.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,94},{110,87}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>se4.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,193},{100,83}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>se5.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,443},{92,80}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>shaoxiang0.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,183},{88,96}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,107}</string>
			</dict>
			<key>shaoxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,187},{88,104}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,107}</string>
			</dict>
			<key>shaoxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,105},{88,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,107}</string>
			</dict>
			<key>shaoxiang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,95},{88,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,107}</string>
			</dict>
			<key>shaoxiang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,181},{88,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,107}</string>
			</dict>
			<key>shaoxiang5.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,219},{88,104}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,107}</string>
			</dict>
			<key>shihua0.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,391},{88,85}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>shihua1.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,445},{88,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>shihua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,487},{88,80}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>shihua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,363},{88,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>sleep0.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,279},{95,87}}</string>
				<key>offset</key>
				<string>{-8,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>sleep1.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,275},{95,84}}</string>
				<key>offset</key>
				<string>{-8,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>sleep2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,215},{110,105}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>sleep3.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,0},{110,105}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>sleep4.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,325},{95,81}}</string>
				<key>offset</key>
				<string>{-8,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>sleep5.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,307},{95,84}}</string>
				<key>offset</key>
				<string>{-8,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>smaile.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,707},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>smaile0.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,718},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>smaile1.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,724},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>smaile2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,729},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>smaile3.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,672},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>smaile4.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,659},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>smaile5.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,680},{88,72}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>touxiang0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{126,125}}</string>
				<key>offset</key>
				<string>{7,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>
			<key>touxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,0},{137,94}}</string>
				<key>offset</key>
				<string>{1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>
			<key>touxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,0},{140,93}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>
			<key>touxiang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,93},{137,94}}</string>
				<key>offset</key>
				<string>{1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>
			<key>touxiang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,0},{126,125}}</string>
				<key>offset</key>
				<string>{7,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>
			<key>touxiang5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,125},{140,90}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>
			<key>yun0.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,233},{92,93}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,102}</string>
			</dict>
			<key>yun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,227},{91,97}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,102}</string>
			</dict>
			<key>yun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{91,94}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,102}</string>
			</dict>
			<key>yun3.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,275},{91,91}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,102}</string>
			</dict>
			<key>yun4.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,406},{91,79}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,102}</string>
			</dict>
			<key>yun5.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,359},{91,84}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,102}</string>
			</dict>
			<key>zhiya0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,651},{88,78}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>zhiya1.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,567},{88,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>zhiya2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,411},{88,81}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>zhiya3.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,406},{88,81}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>zhiya4.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,565},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>zhiya5.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,645},{88,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>emoji_action_texture.png</string>
			<key>realTextureFileName</key>
			<string>emoji_action_texture.png</string>
			<key>size</key>
			<string>{1024,881}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>881</integer>
		</dict>
	</dict>
</plist>