*_Plist.Dir*
*.udf
.idea
*/.idea

.idea/misc.xml
.idea/mjclient.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
ccclient/res/loading.js
ccclient/cocos2d-html5
/ccclient/res/test.cfg
.project
ccclient/test.cfg
ccclient/update/*
ccclient/update.log
.DS_Store
android/.DS_Store
android/script1/3d/jsb_cocos2d_3d.js
android/script1/3d/jsb_cocos2d_3d_ext.js
android/script1/ccui/jsb_ccui_create_apis.js
android/script1/ccui/jsb_ccui_deprecated.js
android/script1/ccui/jsb_ccui_property_apis.js
android/script1/ccui/jsb_ccui_property_impls.js
android/script1/ccui/jsb_cocos2d_ui.js
android/script1/chipmunk/jsb_chipmunk.js
android/script1/chipmunk/jsb_chipmunk_constants.js
android/script1/debugger/DevToolsUtils.js
android/script1/debugger/actors/root.js
android/script1/debugger/actors/script.js
android/script1/debugger/core/promise.js
android/script1/debugger/main.js
android/script1/debugger/transport.js
android/script1/extension/jsb_cocos2d_extension.js
android/script1/extension/jsb_ext_create_apis.js
android/script1/extension/jsb_ext_property_apis.js
android/script1/jsb.js
android/script1/jsb_audioengine.js
android/script1/jsb_boot.js
android/script1/jsb_cocos2d.js
android/script1/jsb_cocos2d_constants.js
android/script1/jsb_cocosbuilder.js
android/script1/jsb_common.js
android/script1/jsb_create_apis.js
android/script1/jsb_debugger.js
android/script1/jsb_deprecated.js
android/script1/jsb_loaders.js
android/script1/jsb_opengl.js
android/script1/jsb_opengl_constants.js
android/script1/jsb_pool.js
android/script1/jsb_prepare.js
android/script1/jsb_property_apis.js
android/script1/jsb_property_impls.js
android/script1/jsb_spine.js
android/script1/navmesh/jsb_navmesh.js
android/script1/physics3d/jsb_physics3d.js
android/script1/physicsSprite/jsb_physicsSprite.js
android/script1/studio/jsb_cocos2d_studio.js
android/script1/studio/jsb_studio_boot.js
android/script1/studio/jsb_studio_create_apis.js
android/script1/studio/jsb_studio_load.js
android/script1/studio/jsb_studio_property_apis.js
android/script1/studio/parsers/action-1.x.js
android/script1/studio/parsers/action-2.x.js
android/script1/studio/parsers/compatible.js
android/script1/studio/parsers/scene-1.x.js
android/script1/studio/parsers/timelineParser-1.x.js
android/script1/studio/parsers/timelineParser-2.x.js
android/script1/studio/parsers/uiParser-1.x.js
ccclient/mjclient.ccs.orig
gdmj
