<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{81,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,69}}</string>
                <key>sourceSize</key>
                <string>{81,69}</string>
            </dict>
            <key>Z_gang_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,105},{81,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,69}}</string>
                <key>sourceSize</key>
                <string>{81,69}</string>
            </dict>
            <key>Z_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>Z_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,241},{69,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>Z_hu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,248},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Z_pai_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,101}}</string>
                <key>sourceSize</key>
                <string>{230,101}</string>
            </dict>
            <key>Z_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,173},{79,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,66}}</string>
                <key>sourceSize</key>
                <string>{79,66}</string>
            </dict>
            <key>Z_peng_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,105},{79,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,66}}</string>
                <key>sourceSize</key>
                <string>{79,66}</string>
            </dict>
            <key>Z_penggang_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,176},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Z_zimo_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{87,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,43}}</string>
                <key>sourceSize</key>
                <string>{87,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pghg.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bd9ce9a551e709686d7bdd8bf27714c:1/1$</string>
            <key>textureFileName</key>
            <string>pghg.png</string>
        </dict>
    </dict>
</plist>
