<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z_xuanque_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{81,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,52}}</string>
                <key>sourceSize</key>
                <string>{81,52}</string>
            </dict>
            <key>Z_xuanque_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,50}}</string>
                <key>sourceSize</key>
                <string>{104,50}</string>
            </dict>
            <key>Z_xuanque_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,131},{75,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{75,69}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>Z_xuanque_tiao_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>Z_xuanque_tong_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{65,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,82}}</string>
                <key>sourceSize</key>
                <string>{65,82}</string>
            </dict>
            <key>Z_xuanque_wan-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{65,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{65,62}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>Z_xuanque_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,69},{57,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,74}}</string>
                <key>sourceSize</key>
                <string>{65,82}</string>
            </dict>
            <key>Z_xuanque_wan_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,69},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectShort.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47d4e8c85b9e0e25119922a6509d890b:1/1$</string>
            <key>textureFileName</key>
            <string>selectShort.png</string>
        </dict>
    </dict>
</plist>
