<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z_button_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,518},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_0_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,518},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,518},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_1_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_2_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,432},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_3_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,432},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_4_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,346},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,346},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_5_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,260},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_6_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,260},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_7_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,174},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,174},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_8_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,88},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_9_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,88},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_Lose_weight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_Lose_weight_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_del.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_button_del_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,84}}</string>
                <key>sourceSize</key>
                <string>{156,84}</string>
            </dict>
            <key>Z_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,604},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>joinGame.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c95ea3ee5f102d28d8b5d187f024264c:1/1$</string>
            <key>textureFileName</key>
            <string>joinGame.png</string>
        </dict>
    </dict>
</plist>
