<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,576},{63,82}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,580},{71,78}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,4},{71,87}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,693},{71,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,99},{71,86}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,904},{71,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,708},{71,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,595},{71,90}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,790},{71,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,886},{71,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,806},{14,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,167},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,982},{32,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,925},{48,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,4},{56,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,273},{56,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,666},{54,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,828},{68,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,666},{54,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,904},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,514},{54,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,849},{65,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,838},{58,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,273},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,406},{58,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,4},{62,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,514},{58,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,86},{58,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,406},{58,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,86},{55,73}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,193},{60,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,193},{72,60}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,300},{60,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,764},{58,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>mj_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{98,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,152}</string>
			</dict>
			<key>mj_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,164},{98,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,152}</string>
			</dict>
			<key>mj_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,644},{122,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,98}</string>
			</dict>
			<key>mj_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,324},{98,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,152}</string>
			</dict>
			<key>mj_bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,484},{98,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,152}</string>
			</dict>
			<key>mj_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,774},{122,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,98}</string>
			</dict>
			<key>mj_bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,708},{56,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,122}</string>
			</dict>
			<key>mj_111.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,904},{82,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,112}</string>
			</dict>
			<key>mj_121.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,904},{82,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,112}</string>
			</dict>
			<key>mj_131.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,4},{82,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,112}</string>
			</dict>
			<key>mj_141.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,595},{79,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,105}</string>
			</dict>
			<key>mj_151.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,124},{82,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,112}</string>
			</dict>
			<key>mj_161.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,480},{82,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,107}</string>
			</dict>
			<key>mj_171.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,244},{82,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,110}</string>
			</dict>
			<key>mj_181.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,362},{82,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,110}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>z_mj.png</string>
			<key>realTextureFileName</key>
			<string>z_mj.png</string>
			<key>size</key>
			<string>{500,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>